grails-app/conf/Datasources.groovy
grails-app/conf/DataSource.groovy
*~
#*#
*#
activity-log-data/*
new-activity-log-data/*
*.lst
*.gms
*.json
target
plugins/
web-app/js/dojo/
web-app/js/dojo-link/
pems/
location-parse*.log
import-*.log
*.aux
*.lof
*.log
*.toc
*_latexmk
*.blg
*.bbl
